Repository aio-libs/aiomonitor: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

.codecov.yml:

---

codecov:
  branch: main
  notify:
    after_n_builds: 10

coverage:
  range: "95..100"
  status:
    project: false

flags:
  library:
    paths:
    - aiomonitor/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - changes/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

refactor: Use dataclasses for internal-only attr classes
  aiomonitor/webui/app.py
Due: library

chore: add changelog fragment for trafaret→pydantic migration (#422)
  changes/422.misc
Due: changelog

fix: separate validation and handler error handling in check_params
  aiomonitor/webui/utils.py
Due: library

refactor: Replace trafaret with pydantic (#422)
  aiomonitor/termui/completion.py
  aiomonitor/webui/app.py
  aiomonitor/webui/utils.py
  changes/422.misc
  setup.cfg
Due: library, changelog

fix: resolve DeprecationWarning for click.parser.split_arg_string import (#453)
  changes/452.fix
Due: changelog

Migrate project configuration to pyproject.toml and uv
  .github/workflows/ci-cd.yml
  .github/workflows/lint.yml
  .readthedocs.yml
  MANIFEST.in
  changes/454.enhancement
  pyproject.toml
  requirements-dev.txt
  requirements-doc.txt
  setup.cfg
  uv.lock
Due: configs, changelog, docs

Migrate project configuration to pyproject.toml and uv (#455)
  .github/workflows/ci-cd.yml
  .github/workflows/lint.yml
  .readthedocs.yml
  MANIFEST.in
  changes/454.enhancement
  pyproject.toml
  requirements-dev.txt
  requirements-doc.txt
  setup.cfg
  uv.lock
Due: configs, changelog, docs

feat: add read-only mode for termui and webui
  aiomonitor/monitor.py
  aiomonitor/termui/commands.py
  aiomonitor/webui/app.py
  aiomonitor/webui/templates/index.html
  tests/test_monitor.py
Due: library, tests

fix: address review findings
  aiomonitor/termui/commands.py
  aiomonitor/webui/templates/index.html
  tests/test_monitor.py
Due: library, tests

docs: clarify monitor_cls parameter note in start_monitor docstring
  aiomonitor/monitor.py
Due: library

refactor: test codes and repetitive messages
  aiomonitor/termui/commands.py
  tests/test_monitor.py
Due: library, tests

Update RTD os
  .readthedocs.yml
Due: configs
