Repository aio-libs/aiomonitor: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

.codecov.yml:

---

codecov:
  branch: main
  notify:
    after_n_builds: 10

coverage:
  range: "95..100"
  status:
    project: false

flags:
  library:
    paths:
    - aiomonitor/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - changes/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

test: Explicitly flush the console input
  tests/test_monitor.py
Due: tests

Update aioconsole to 0.7.0
  requirements-dev.txt
  setup.cfg
Due: docs

Use aiohttp 3.9.1 in requirements-dev.txt for Python 3.12 compatibility
  requirements-dev.txt
Due: docs

Pin uvloop to 0.19.0 in requirements-dev.txt
  requirements-dev.txt
Due: docs

Include Python 3.12 as the regular test target
  .github/workflows/ci-cd.yml
Due: none

It's RST, not Markdown here...
  changes/385.feature.rst
Due: changelog

Use the past tense in the news fragment
  changes/385.feature.rst
Due: changelog

Fix #383's news fragment
  changes/383.doc.md
  changes/383.doc.rst
Due: changelog

Replace black, flake8, isort with ruff
  .pre-commit-config.yaml
  pyproject.toml
  requirements-dev.txt
Due: configs, docs

Apply the new linter and formatter (ruff)
  aiomonitor/task.py
  aiomonitor/webui/utils.py
  docs/conf.py
  pyproject.toml
Due: library, configs, docs

Add the news fragment
  changes/391.fix.rst
Due: changelog

Update the lint GitHub Action workflow
  .github/workflows/lint.yml
Due: none

Remove `.flake8` and migrate config to pyproject.toml
  .flake8
  pyproject.toml
Due: configs

Remove unrecognized options
  pyproject.toml
Due: configs

ci: Replace black, flake8, and isort with ruff (#391)
  .flake8
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  aiomonitor/task.py
  aiomonitor/webui/utils.py
  changes/391.fix.rst
  docs/conf.py
  pyproject.toml
  requirements-dev.txt
Due: library, configs, changelog, docs

Correct the directory extension of news fragments from #389 and #391
  changes/389.feature.rst
  changes/391.misc.rst
Due: changelog

Apply autodocs and move some docs to docstring
  aiomonitor/monitor.py
  docs/api.rst
  docs/conf.py
  docs/reference/index.rst
  docs/reference/monitor.rst
  docs/reference/termui.rst
  docs/reference/webui.rst
  docs/tutorial.rst
  requirements-doc.txt
Due: library, docs

doc: Rewrite
  docs/api.rst
  docs/conf.py
  docs/index.rst
  docs/reference/index.rst
  docs/reference/monitor.rst
  docs/reference/termui.rst
  docs/reference/webui.rst
  docs/tutorial.rst
  examples/web_srv_custom_monitor.py
Due: docs

Some retouch
  docs/index.rst
  docs/tutorial.rst
Due: docs

Adopt sphinx_click to auto-generate command refs in docs
  aiomonitor/termui/commands.py
  docs/conf.py
  docs/index.rst
  docs/reference/termui.rst
  docs/tutorial.rst
Due: library, docs

Update requirements-doc.txt
  requirements-doc.txt
Due: docs

Replace the demo gif
  docs/index.rst
  docs/tty.gif
  docs/webui-demo1.gif
Due: docs

Update index.rst
  docs/index.rst
Due: docs

doc: Update the docs to match with the latest (#393)
  aiomonitor/monitor.py
  aiomonitor/termui/commands.py
  docs/api.rst
  docs/conf.py
  docs/index.rst
  docs/reference/monitor.rst
  docs/reference/termui.rst
  docs/reference/webui.rst
  docs/tty.gif
  docs/tutorial.rst
  docs/webui-demo1.gif
  examples/web_srv_custom_monitor.py
  requirements-doc.txt
Due: library, docs

feature: Add a demo example for PyCon APAC 2023 talk (#385)
  aiomonitor/monitor.py
  changes/385.feature.rst
  examples/demo.py
Due: library, changelog

Release v0.7.0
  CHANGES.rst
  changes/383.doc.rst
  changes/385.feature.rst
  changes/389.feature.rst
  changes/391.misc.rst
Due: changelog, docs

Fix typo
  docs/tutorial.rst
Due: docs

Mention about the web UI in the tutorial
  docs/tutorial.rst
Due: docs

Fix typo again
  docs/tutorial.rst
Due: docs

Oops
  docs/tutorial.rst
Due: docs

docs: Update tutorial a little bit more (#394)
  docs/tutorial.rst
Due: docs

Update dev/build dependencies to work better with Python 3.12
  .pre-commit-config.yaml
  pyproject.toml
  requirements-dev.txt
Due: configs, docs

pre-commit dropped the support for Python 3.8 or older since v3.6.0
  requirements-dev.txt
Due: docs

Update dev/build dependencies to work better with Python 3.12 (#405)
  .pre-commit-config.yaml
  pyproject.toml
  requirements-dev.txt
Due: configs, docs

Add a very minimal prometheus exporter interface
  aiomonitor/monitor.py
  aiomonitor/telemetry/__init__.py
  aiomonitor/telemetry/app.py
  aiomonitor/telemetry/prometheus.py
Due: library

Use the latest ruff/black preview code style
  pyproject.toml
Due: configs

Adopt the black/ruff preview styles for more concise formatting
  aiomonitor/task.py
  aiomonitor/termui/commands.py
  aiomonitor/webui/app.py
  examples/extension.py
  pyproject.toml
Due: library, configs

Add pid and explicit content type to the prometheus output
  aiomonitor/telemetry/prometheus.py
Due: library

Make it Python 3.8 friendly
  aiomonitor/monitor.py
Due: library

Add a log message to show the telemetry service status
  aiomonitor/monitor.py
Due: library
