Repository aio-libs/aiomonitor: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

.codecov.yml:

---

codecov:
  branch: main
  notify:
    after_n_builds: 10

coverage:
  range: "95..100"
  status:
    project: false

flags:
  library:
    paths:
    - aiomonitor/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - changes/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

switch from deprecated telnet to telnetlib3
  aiomonitor/telnet.py
  requirements-dev.txt
  setup.cfg
Due: library, docs

ci: Support Python 3.13
  .github/workflows/ci-cd.yml
  setup.cfg
Due: none

ci: Update dependencies
  .pre-commit-config.yaml
  requirements-dev.txt
  setup.cfg
Due: docs

ci: Remove Python 3.8 from CI
  .github/workflows/ci-cd.yml
Due: none

doc: Add news fragment
  changes/411.misc
Due: changelog

Add support for Python 3.13 and drop Python 3.8 (#411)
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  aiomonitor/termui/commands.py
  changes/411.misc
  docs/conf.py
  requirements-dev.txt
  setup.cfg
Due: library, changelog, docs

Remove standard-telnetlib from install dependencies
  setup.cfg
Due: none

Add news fragment
  changes/410.fix
Due: changelog

Switch from deprecated telnet to telnetlib3 (#410)
  aiomonitor/telnet.py
  changes/410.fix
  requirements-dev.txt
  setup.cfg
Due: library, changelog, docs

Replace mentions on Python 3.8 with 3.9 (follow-up to #411)
  docs/index.rst
  setup.cfg
Due: docs

Release v0.7.1
  CHANGES.rst
  changes/411.misc
Due: changelog, docs

ix #419, NotAppKeyWarning warning caused by aiomonitor webui
  aiomonitor/webui/app.py
Due: library

Upgrade multiple GitHub Actions
  .github/workflows/ci-cd.yml
Due: none

Upgrade `sigstore/gh-action-sigstore-python` to v3
  .github/workflows/ci-cd.yml
Due: none

Upgrade Multiple GitHub Actions (#421)
  .github/workflows/ci-cd.yml
Due: none

Formatted by black and isort
  README.rst
Due: docs

Fix the missing import in the README example
  README.rst
Due: docs

doc: Fix the missing import in the README example (#416)
  README.rst
Due: docs

refactor: Replace trafaret with pydantic
  aiomonitor/webui/app.py
  aiomonitor/webui/utils.py
  setup.cfg
Due: library

fix: Resolve mypy type errors
  aiomonitor/termui/completion.py
  aiomonitor/webui/utils.py
Due: library

fix: Fix remaining mypy type errors
  .pre-commit-config.yaml
  aiomonitor/termui/completion.py
  aiomonitor/webui/utils.py
  pyproject.toml
  requirements-dev.txt
Due: library, configs, docs

refactor: Fix some missing/mis-conversions
  aiomonitor/webui/app.py
Due: library

fix: model instantiation
  aiomonitor/webui/app.py
Due: library

refactor: Reduce AI verbosity
  aiomonitor/termui/completion.py
Due: library

fix: Python 3.8 compatibility
  aiomonitor/termui/completion.py
Due: library

refactor: Use dataclasses for internal-only attr classes
  aiomonitor/webui/app.py
Due: library

ci: Update dependatbot to use cooldown periods and upgrade Ruff
  .github/dependabot.yml
  .pre-commit-config.yaml
  requirements-dev.txt
Due: docs

deps: Update mypy (1.13.0 -> 1.18.2)
  .pre-commit-config.yaml
  requirements-dev.txt
Due: docs

Update pyproject.toml and Click 8.x symbol references
  aiomonitor/termui/completion.py
  examples/demo.py
  pyproject.toml
Due: library, configs

ci: Let dependabot use cooldown periods and upgrade Ruff and Mypy (#426)
  .github/dependabot.yml
  .pre-commit-config.yaml
  aiomonitor/termui/completion.py
  examples/demo.py
  pyproject.toml
  requirements-dev.txt
Due: library, configs, docs

Fix NotAppKeyWarning warning caused by aiomonitor webui (#420)
  aiomonitor/webui/app.py
Due: library

fix: add changelog for deprecated click.parser import fix (#452)
  changes/452.fix
Due: changelog

fix: Fix remaining mypy type errors
  aiomonitor/webui/utils.py
Due: library
