Repository aio-libs/aiomonitor: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

.codecov.yml:

---

codecov:
  branch: main
  notify:
    after_n_builds: 10

coverage:
  range: "95..100"
  status:
    project: false

flags:
  library:
    paths:
    - aiomonitor/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - changes/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Fix Python 3.8/3.9 compat
  aiomonitor/exceptions.py
Due: library

Ensure correct event loops in test codes
  aiomonitor/termui/commands.py
  requirements-dev.txt
  tests/test_monitor.py
Due: library, docs, tests

Fix potential deadlocks in tests and the console command
  aiomonitor/console.py
  aiomonitor/monitor.py
  aiomonitor/termui/commands.py
  tests/test_monitor.py
Due: library, tests

Some cleanup
  tests/test_monitor.py
Due: tests

Ensure termination of console when there are assertion failures
  aiomonitor/console.py
  tests/test_monitor.py
Due: library, tests

Try to fix the docs build (maybe broken due to explicit jinja2 dependency)
  requirements-doc.txt
Due: docs

doc: Adopt the latest Sphinx and update some configs
  .gitignore
  docs/api.rst
  docs/conf.py
Due: configs, docs

First rudimentary version of the web UI (#371)
  .editorconfig
  .gitignore
  aiomonitor/__init__.py
  aiomonitor/cli.py
  aiomonitor/console.py
  aiomonitor/context.py
  aiomonitor/exceptions.py
  aiomonitor/monitor.py
  aiomonitor/termui/__init__.py
  aiomonitor/termui/commands.py
  aiomonitor/termui/completion.py
  aiomonitor/types.py
  aiomonitor/utils.py
  aiomonitor/webui/__init__.py
  aiomonitor/webui/app.py
  aiomonitor/webui/static/alpine.js
  aiomonitor/webui/static/client-side-templates.js
  aiomonitor/webui/static/htmx.js
  aiomonitor/webui/static/loader.svg
  aiomonitor/webui/static/mustache.js
  aiomonitor/webui/static/tailwind.js
  aiomonitor/webui/templates/about.html
  aiomonitor/webui/templates/index.html
  aiomonitor/webui/templates/layout.html
  aiomonitor/webui/templates/trace.html
  aiomonitor/webui/utils.py
  changes/.placeholder
  changes/84.feature
  docs/api.rst
  docs/conf.py
  examples/extension.py
  examples/simple_aiohttp_srv.py
  examples/web_srv_custom_monitor.py
  requirements-dev.txt
  requirements-doc.txt
  setup.cfg
  tests/test_monitor.py
Due: library, configs, changelog, docs, tests

Change the default port numbers
  .gitignore
  README.rst
  aiomonitor/__init__.py
  aiomonitor/monitor.py
  docs/api.rst
  docs/tutorial.rst
Due: library, configs, docs

doc: Add news fragment
  changes/374.feature.md
Due: changelog

Change the default port numbers (#374)
  .gitignore
  README.rst
  aiomonitor/__init__.py
  aiomonitor/monitor.py
  changes/374.feature.md
  docs/api.rst
  docs/tutorial.rst
Due: library, configs, changelog, docs

doc: Introduce towncier to auto-generate changelog
  .pre-commit-config.yaml
  CHANGES.rst
  changes/.placeholder
  changes/template.rst
  pyproject.toml
Due: configs, changelog, docs

Reformat the changelog for the 0.5.0 release
  CHANGES.rst
Due: changelog, docs

Add news fragment
  changes/375.misc.md
Due: changelog

Fix URL formats
  CHANGES.rst
Due: changelog, docs

ci: Adopt towncrier to auto-generate changelog (#375)
  .pre-commit-config.yaml
  CHANGES.rst
  changes/.placeholder
  changes/375.misc.md
  changes/template.rst
  pyproject.toml
Due: configs, changelog, docs

Prepare for release 0.6.0
  CHANGES.rst
  changes/374.feature.md
  changes/375.misc.md
  changes/84.feature
Due: changelog, docs

Add towncrier to requirements-dev.txt
  requirements-dev.txt
Due: docs

Fix changelog
  CHANGES.rst
Due: changelog, docs

Release v0.6.0 (#376)
  CHANGES.rst
  changes/374.feature.md
  changes/375.misc.md
  changes/84.feature
  requirements-dev.txt
Due: changelog, docs

[ImgBot] Optimize images
  aiomonitor/webui/static/loader.svg
  docs/screenshot-ps-where-example.png
  docs/tty.gif
Due: library, docs

Use the latest version of Black and use the new mirror to speed up
  .pre-commit-config.yaml
Due: none

Add news fragment
  changes/379.misc.md
Due: changelog

Use the latest version of Black and the new pre-commit mirror (#379)
  .pre-commit-config.yaml
  changes/379.misc.md
Due: changelog

Fix aiohttp example
  README.rst
Due: docs

Add 383 news fragment
  changes/379.misc.md
  changes/383.doc.md
Due: changelog

Fix aiohttp README example (#383)
  README.rst
  changes/379.misc.md
  changes/383.doc.md
Due: changelog, docs

ci: Update pre-commit tools
  .pre-commit-config.yaml
Due: none

ci: Update pre-commit tools (#384)
  .pre-commit-config.yaml
Due: none

feature: Add a demo example for PyCon APAC 2023 talk
  examples/demo.py
Due: none

Enable testing merge queues @ GitHub Actions CI/CD
  .github/workflows/ci-cd.yml
Due: none

Add more cmdarg options to demo.py
  aiomonitor/monitor.py
  examples/demo.py
Due: library

Let the timer loop accumulate tasks to some extent
  examples/demo.py
Due: none

doc: Enhance help text of cli options
  examples/demo.py
Due: none

Add news fragment
  changes/385.feature.md
Due: changelog

Relax the aiohttp version range as being a library
  setup.cfg
Due: none

Add news fragment
  changes/389.fix.md
Due: changelog

Update news fragment
  changes/389.fix.md
Due: changelog

Fix license classifier
  setup.cfg
Due: none

test: Improve flakky test
  tests/test_monitor.py
Due: tests
