Repository aio-libs/aiomonitor: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

.codecov.yml:

---

codecov:
  branch: main
  notify:
    after_n_builds: 10

coverage:
  range: "95..100"
  status:
    project: false

flags:
  library:
    paths:
    - aiomonitor/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - changes/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Fix further yamllint failures
  .github/dependabot.yml
  .github/workflows/lint.yml
  .pyup.yml
  .readthedocs.yml
Due: configs

Adopt pre-commit-ci for linting and typecheck (#364)
  .codecov.yml
  .github/dependabot.yml
  .github/workflows/ci-cd.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  .pyup.yml
  .readthedocs.yml
  .yamllint
  LICENSE
  README.rst
  aiomonitor/task.py
  aiomonitor/types.py
  docs/Makefile
  docs/conf.py
  tests/test_monitor.py
Due: library, configs, docs, tests

 Set up secretless publishing to PyPI
  .github/workflows/ci-cd.yml
Due: none

Add pre-commit to requirements-dev.txt for easier dev setup
  requirements-dev.txt
Due: docs

Add pre-commit to requirements-dev.txt for easier dev setup (#370)
  requirements-dev.txt
Due: docs

Hello world for the initial webui
  aiomonitor/monitor.py
  aiomonitor/webui.py
  requirements-dev.txt
  setup.cfg
Due: library, docs

Adopt htmx and tailwindcss to build a simple web UI
  .editorconfig
  aiomonitor/monitor.py
  aiomonitor/webui.py
  aiomonitor/webui/__init__.py
  aiomonitor/webui/about.html
  aiomonitor/webui/app.py
  aiomonitor/webui/static/htmx.js
  aiomonitor/webui/static/tailwind.js
  aiomonitor/webui/templates/about.html
  aiomonitor/webui/templates/index.html
  aiomonitor/webui/templates/layout.html
  setup.cfg
Due: library

Remove mis-added file
  aiomonitor/webui/about.html
Due: library

Refactor a little bit
  aiomonitor/webui/app.py
Due: library

Implement the live task list (simple 2sec interval polling)
  aiomonitor/monitor.py
  aiomonitor/types.py
  aiomonitor/webui/app.py
  aiomonitor/webui/templates/index.html
  setup.cfg
Due: library

Adopt mustache.js for client-side template rendering
  aiomonitor/webui/app.py
  aiomonitor/webui/static/client-side-templates.js
  aiomonitor/webui/static/mustache.js
  aiomonitor/webui/templates/about.html
  aiomonitor/webui/templates/index.html
  aiomonitor/webui/templates/layout.html
  examples/simple_aiohttp_srv.py
  setup.cfg
Due: library

Introduce trafaret for query param validation & conversion
  aiomonitor/monitor.py
  aiomonitor/types.py
  aiomonitor/webui/app.py
  aiomonitor/webui/utils.py
  setup.cfg
Due: library

Implement task cancellation button with response notifications
  aiomonitor/webui/app.py
  aiomonitor/webui/static/loader.svg
  aiomonitor/webui/templates/index.html
  aiomonitor/webui/templates/layout.html
Due: library

Add animation to the notification
  aiomonitor/webui/static/alpine.js
  aiomonitor/webui/templates/index.html
  aiomonitor/webui/templates/layout.html
Due: library

Prevent accidental cancellation of the entire event loop
  aiomonitor/webui/app.py
  aiomonitor/webui/templates/index.html
Due: library

Implement the terminated task list with a tab ui
  aiomonitor/webui/app.py
  aiomonitor/webui/templates/index.html
  aiomonitor/webui/templates/layout.html
  aiomonitor/webui/utils.py
Due: library

Implement the persistent filter option
  aiomonitor/webui/templates/index.html
Due: library

Include the official "forms" plugin of TailwindCSS
  aiomonitor/webui/static/tailwind.js
Due: library

Implement live search by persistent and coro/name keyword filter
  aiomonitor/webui/templates/index.html
  aiomonitor/webui/templates/layout.html
  aiomonitor/webui/utils.py
Due: library

Refine the task counters and toolbar UI
  aiomonitor/webui/app.py
  aiomonitor/webui/templates/index.html
Due: library

Remove debug print
  aiomonitor/webui/app.py
Due: library

Fix task cancellation button
  aiomonitor/webui/templates/index.html
Due: library

Make it more standard-compliant
  aiomonitor/webui/templates/index.html
  aiomonitor/webui/templates/layout.html
  aiomonitor/webui/utils.py
Due: library

Found a workaround for bigskysoftware/htmx#1119
  aiomonitor/webui/templates/index.html
Due: library

Make the htmx attr style consistent
  aiomonitor/webui/templates/index.html
Due: library

Display the webui hyperlink in the log message when starting the monitor
  aiomonitor/monitor.py
Due: library

Refactor the webui's server-side API parameter validation
  aiomonitor/webui/app.py
  aiomonitor/webui/templates/index.html
  aiomonitor/webui/utils.py
Due: library

Ensure Python 3.8+ compatibility regarding StrEnum
  aiomonitor/webui/app.py
  setup.cfg
Due: library

Refine notifications
  aiomonitor/monitor.py
  aiomonitor/webui/app.py
  aiomonitor/webui/templates/index.html
  aiomonitor/webui/templates/layout.html
  aiomonitor/webui/utils.py
Due: library

Protocol shows the port type
  aiomonitor/monitor.py
Due: library

Add the trace pages (skeleton)
  aiomonitor/webui/app.py
  aiomonitor/webui/templates/index.html
  aiomonitor/webui/templates/trace.html
Due: library

Reimplement task creation/termination chain logs for the webui
  aiomonitor/__init__.py
  aiomonitor/cli.py
  aiomonitor/context.py
  aiomonitor/exceptions.py
  aiomonitor/monitor.py
  aiomonitor/termui/__init__.py
  aiomonitor/termui/commands.py
  aiomonitor/termui/completion.py
  aiomonitor/utils.py
  aiomonitor/webui/app.py
  aiomonitor/webui/templates/trace.html
Due: library

Fix the cancel command in termui
  aiomonitor/monitor.py
  aiomonitor/termui/commands.py
Due: library

Rename for consistency
  aiomonitor/monitor.py
Due: library

Make stack formatting to use strict types
  aiomonitor/monitor.py
  aiomonitor/types.py
Due: library

Update the test code
  aiomonitor/monitor.py
  tests/test_monitor.py
Due: library, tests

Update examples
  aiomonitor/__init__.py
  examples/extension.py
  examples/web_srv_custom_monitor.py
Due: library

Use literal annotations in the test module
  tests/test_monitor.py
Due: tests

Add news fragment
  changes/.placeholder
  changes/84.feature
Due: changelog

Update test mock target for `print_formatted_text`
  tests/test_monitor.py
Due: tests
